<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body>
    <div class="banner-text">
        <ul>
            <li> Home </li>
            <li> Team </li>
        </ul>

        <h1>Fake News Detector</h1>
    </div>

    <div class="animated-area">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <form>
        <h1>What's the news?</h1>
        <input type="text" placeholder="Enter the title here" />
        <textarea placeholder="Enter the news description here"></textarea>
        
    </form>
</body>

</html>