<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="icon" href="/favicon.png" />
</head>

<body>
    <div class="banner-text middle">
        <h1>Our Team</h1>
    </div>
    <form class="back">
        <a href="/"> <i class="bi bi-house-fill"></i> Home</a>
    </form>
    <div class="animated-area teams">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="image-holder">
                        <img src="images/archish.jpeg" alt="Sudip Mondal">
                        <div class="details">
                            <h1>Archish S</h1>
                            <h6>B.Tech, Mechanical Engineering</h6>
                            <h6>Indian Institute of Technology, Madras</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-holder">
                        <img src="images/kartik.jpeg" alt="Sudip Mondal">
                        <div class="details">
                            <h1>Kartik Ruikar</h1>
                            <h6>B.Tech, Naval Architechture Engineering</h6>
                            <h6>Indian Institute of Technology, Madras</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-holder">
                        <img src="images/sudip.png" alt="Sudip Mondal">
                        <div class="details">
                            <h1>Sudip Mondal</h1>
                            <h6>B.Tech, Civil Engineering</h6>
                            <h6>Indian Institute of Technology, Madras</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>